@import "tailwindcss";
body {
  font-family: 'Roboto', sans-serif;
}
.my-component-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}
